
.App {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  background-image: url("./images/desert_background.jpg")
  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,0.6783088235294117) 0%, rgba(47,47,124,0.7763480392156863) 11%, rgba(7,148,177,1) 100%); */
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Canvas {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  padding: 10px;
  
}

.right-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.top-container,
.bottom-container {
  display: flex;
  flex-direction: column;
  height: 49vh;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 5px;
  padding: 5px;
  position: relative;
}

.bottom-container {
  background-color: rgba(138, 0, 0, 0.30);
}

.preStage,
.droppable {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.move-header {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}

.draggable {
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.draggable:hover {
  opacity: 80%;
  cursor: grab;
}

.draggable:active {
  transform: translateY(4px);
  opacity: 50%;
  cursor: grabbing;
}

.drop-area {
  background-color:rgba(139, 41, 41, 0.35);
}

/* .translate,
.rotate-clock,
.rotate-counter,
.reflect-x,
.reflect-y {
  background-color:#d3dce7;
} */

.translate {
  background-color: #e28822;
}

.rotate-clock,
.rotate-counter {
  background-color: #e25822;
}

.reflect-x,
.reflect-y {
  background-color: #df9f71;
}

.move-text {
  font-weight: bolder;
  font-size: 28px;
  color: #201207;
}

.translate {
  background-image: url("./images/translate.svg");
}

.rotate-clock {
  background-image: url("./images/rotation-clock.svg");
}

.rotate-counter {
  background-image: url("./images/rotation-counter.svg");
}

.reflect-x {
  background-image: url("./images/reflect-x.svg");
}

.reflect-y {
  background-image: url("./images/reflect-y.svg");
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;    
  background: rgba(0,0,0, 0);
  color:greenyellow; 
  font-size: 30px;
  text-align: center; 
}

.lose-font {
  color: red;
}

.restart-button:hover {
  cursor: pointer;
}

.restart-button:active {
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(4px);
  cursor: pointer;
}