.custom-ops {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* align-items: center; */
}
.custom-ops input {
  width: 2.5rem;
  border: none;
  margin: 2px 2px 2px 5px;
}

.custom-ops label,
.custom-ops button {
  margin: 5px;
  font-size: 1.3em;
}

.rotate,
.reflect,
.translate {
  display: grid;
  justify-items: center;
}

button {
  width: 8rem;
  align-self: center;
}

#degro {
  width: 4rem;
}
